@import url("https://fonts.googleapis.com/css?family=Abel");

body {
	background-color: #676767;
	padding: none;
}


@media only screen and (max-width: 1200px)
{

a {
	display: block;
	text-align: center;
	width: 90vw;
	height: 4vw;
	padding: 3vw;
	color: white;
	background-color: rgba(150,150,150,.6);
	margin: 1vw 0vw 1vw 1vw;
	font-family: 'Abel';
	font-size: 3vw;
	text-decoration: none;
}

a:hover {
	background-color:  rgba(190,190,190,.8);
}


}



@media only screen and (min-width: 1201px)
{

a {
	display: block;
	text-align: center;
	width: 95vw;
	height: 3vw;
	padding: 1vw;
	color: white;
	background-color: rgba(150,150,150,.6);
	margin: 1vw 0vw 1vw 1vw;
	font-family: 'Abel';
	font-size: 2vw;
	text-decoration: none;
}

a:hover {
	background-color:  rgba(190,190,190,.8);
}


}